<div class="container">
    <h2>Extrato de Transferências</h2>
    <table>
      <thead>
        <tr>
          <th>Conta de Origem</th>
          <th>Conta de Destino</th>
          <th>Valor</th>
          <th>Taxa</th>
          <th>Data de Transferência</th>
          <th>Data de Agendamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transferencia of transferencias">
          <td>{{ transferencia.contaOrigem }}</td>
          <td>{{ transferencia.contaDestino }}</td>
          <td>{{ transferencia.valor | currency:'BRL' }}</td>
          <td>{{ transferencia.taxa | currency:'BRL' }}</td>
          <td>{{ transferencia.dataTransferencia }}</td>
          <td>{{ transferencia.dataAgendamento }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="transferencias.length === 0" class="alert">Nenhuma transferência encontrada.</p>
  </div>
  